*{
    padding: 0;
    margin: 0;
    border: 0;
}


#filtro-container{
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 50px;
    position: static;
}


#dropdown-container{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1%;
}



button{
    width: 350px;
    /* min-width: 10%; */
}


/* Media query for tablet and smaller screens */
@media (max-width: 1024px) {
	#filtro-container {
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 50px;
    position: static;
        
        
	}
    #filtro-icon-container{
        flex-direction: column;
        display: contents;
        width: auto;
    }
    #dropdown-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
    }
    button{
        width: auto;

    }

}


