main {
	/*display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	gap: 15px; */
	background: rgb(253, 242, 112);
	background: linear-gradient(
		77deg,
		rgba(253, 242, 112, 1) 25%,
		rgba(120, 136, 198, 1) 69%,
		rgba(39, 48, 84, 1) 100%
	);
}

h2{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

#all-icon-container > .cart-logo {
	text-decoration: none;
	color: black;
}

#all-icon-container > .cart-logo :hover {
	color: #f47c98;
}
#all-icon-container > .cart-logo > #cuenta-carrito {
	background-color: #118ab2;
	border-radius: 100%;
	display: inline-block;
	width: 20px;
	line-height: 20px; /*Para que el contador quede centrado verticalmente*/
	text-align: center;
	position: absolute;
}

#all-icon-container-responsive > .cart-logo > #cuenta-carrito-responsive {
	background-color: #118ab2;
	border-radius: 100%;
	display: inline-block;
	width: 20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	color: black;
}

#productos-container {
	display: flex !important;
	flex-wrap: wrap !important;
	gap: 20px;
	justify-content: center;
	/* max-width: 800px; */
	margin: auto;
	width: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.tarjeta-producto {
	width: 400px;
	text-align: center;
	background-color: #f47c98;
	padding: 20px;
	box-shadow: 0 0 10px #273054;
	transition: 200ms;
}

.tarjeta-producto:hover {
	translate: 0 -10px;
	box-shadow: 0 10px 10px #273054;
}

.tarjeta-producto img {
	width: 100%;
	/* aspect-ratio: 1; */ /*Por si las imagenes tuvieran distintos tamaños*/
}

h3 {
	margin: 6px 0;
}

.button-tarjeta-productos{
    background-color: #273054;
	color: white;
	padding: 3px 10px;
	border: unset;
	border-radius: 5px;
}

#button-tarjeta {
	background-color: #273054;
	color: white;
	padding: 3px 10px;
	border: unset;
	border-radius: 5px;
}

#totales, #carrito-vacio {
	text-align: center;
}
