header{
    background-color: white;
    margin-bottom: 7.5dvh;
  }
  
  #logo-header{
    margin-left: 10px;
    height: 80px;
    width: 80px;
  }
  
  li .nav-link {
    color: #000; /* Cambia el color del texto a negro */
  }
  
  #main-nav-container{
    flex-wrap: unset;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    position: relative;
    }
  
  #div-search{
    width: 260px;
  }
  
  #form-search{
    width: 280px;
  }
  
  #all-icon-container{
    margin-left: 10px;
  }
  
  #user-logo{
    height: 30px;
    width: 30px;
    color: #000;
  }
  #home-logo{
    height: 30px;
    width: 30px;
    color: black;
  }
  
  #cart-logo{
    height: 30px;
    width: 30px;
    color: black;
  }
  
  #element-acerca-nosotros{
    white-space: nowrap;
    color: #000;
  }
  
  #container-button-logo {
    display: flex !important;
    align-items: center !important;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .icon-container svg {
    margin-right: 10px;
  }
  
  #element-acerca-nosotros:hover{
    background-color: #F47C98;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 0.5rem;
  }
  
  .custom-hover:hover {
    background-color: #F47C98;
    color: white;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 0.5rem;
  }
  
  #all-icon-container-responsive {
    display: none;
  }
  
  #toggler-brand-icons {
    display: flex;
  }
  
  @media (width < 1024px){
    #main-nav-container{
      width: 100% !important;
    }
  }
  
  @media (width < 990px){
    #main-nav-container{
      width: 100% !important;
      flex-wrap: wrap;
    }
  
    #all-icon-container {
      display: none;
    }
  
    #all-icon-container-responsive {
      display: flex;
    }
  
    #toggler-brand-icons {
      width: 100% !important;
    }
  }
  
  #main-nav-container{
  color: #efefec;
  }
  
  .container-fluid{
  color: #f8f8f6;
  }
  