body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  #logo-header{
    height: 80px;
    width: 80px;
  }
  
  #main-nav-container{
    flex-wrap: unset;
    padding: 0;  
    font-family: 'Roboto', sans-serif; 
    border-bottom: 2px solid #000;
  
  }
  
  #user-logo{
    height: 30px;
    width: 30px;
  }
  #home-logo{
    height: 30px;
    width: 30px;
  }
  
  #cart-logo{
    height: 30px;
    width: 30px;
  }
  
  #element-acerca-nosotros{
    white-space: nowrap; /* Evita el wrap del texto */
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .icon-container {
    display: flex; /* Utiliza flexbox para alinear los íconos */
    align-items: center; /* Alinea verticalmente los íconos al centro */
    flex-wrap: nowrap; /* No permite que los íconos se envuelvan a la siguiente línea */
  }
  
  .icon-container svg {
    margin-right: 10px; /* Agrega un espacio entre cada ícono */
  }
  
  #search-1{
      padding: 0px 0px;
      background-color: white;
  }
  
  .custom-hover:hover {
      background-color: #FDF270; 
      color: white; 
      transition: background-color 0.5s, color 0.5s; 
      border-radius: 0.5rem;
  }
  