main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	gap: 15px;
	background: rgb(253, 242, 112);
	background: linear-gradient(
		77deg,
		rgba(253, 242, 112, 1) 25%,
		rgba(120, 136, 198, 1) 69%,
		rgba(39, 48, 84, 1) 100%
	);
}

#container-home {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-home {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgb(39, 48, 84) 0px 5px 15px;
	box-shadow: #273054;
	background-color: #7888c6;
	padding: 50px;
	border-radius: 20px;
	gap: 5em;
	position: relative;
	left: 5%;
}

.carousel {
	width: 600px; /* Tamaño fijo del carrusel */
	height: 350px;
	overflow: hidden; /* Evita desbordamientos */
	margin: 0 auto;
}

.carousel-inner img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	transition: none !important; /* Sin animaciones */
}

.carousel-item {
	transition: none !important; /* Sin transiciones de Bootstrap */
}

.img-home {
	width: 50%; /* Ajusta el ancho según sea necesario */
	text-align: right; /* Opcional, alinea la imagen al lado derecho */
}
.img-home img {
	max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	box-shadow: rgb(39, 48, 84) 0px 5px 10px;
	box-shadow: #273054;
}
@media (max-width: 768px) {
	.container-home {
		flex-direction: column; /* Cambia la disposición a columna */
		justify-content: center;
		align-items: center; /* Alinea los elementos al centro */
		max-width: 90%; /* Ajusta el ancho */
	}

	.img-home {
		width: 100%; /* Asegura que la imagen ocupe el ancho completo */
		max-width: 300px; /* Limita el tamaño de la imagen en móviles */
		order: 1; /* Asegura que la imagen aparezca primero */
	}

	.text-home {
		width: 100%; /* Ajusta el ancho del texto */
		max-width: 250px; /* Limita el ancho del texto en móviles */
		height: auto; /* Permite que el contenedor de texto ajuste su altura */
		margin-top: 20px; /* Añade un espacio entre la imagen y el texto */
		order: 2; /* Asegura que el texto aparezca después de la imagen */
		top: -55px;
		left: auto;
		position: relative; /* Cambia a posición estática para evitar superposiciones */
	}
}
