body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #273054;
}

h2 {
    font-size: 1.75rem;
}

p {
    line-height: 1.6;
}

img {
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	gap: 15px;
	background: rgb(253, 242, 112);
	background: linear-gradient(
		77deg,
		rgba(253, 242, 112, 1) 25%,
		rgba(120, 136, 198, 1) 69%,
		rgba(39, 48, 84, 1) 100%
	);
}