body {
	margin: 0;
	padding: 0;
	width: 100dvh;
}

#product-card {
	background-color: #f47c98;
	color: white;
	border: 10px solid #273054;
	border-radius: 10%;
	justify-content: center;
	align-items: center;
}

#img-product {
	width: 80%;
	padding-top: 10px;
	border-radius: 10%;
}
