body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe el alto de la pantalla */
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0;
  background-color: #fdf270; /* Color de fondo */
}

.container {
  flex: 1; /* Permite que el contenido crezca y ocupe el espacio restante */
}
