body {
	background-color: #118ab2;
}

.form-label {
	color: #ffff;
}

#validationCustomEmail {
	border: 0;
	background-color: #7888c6;
}

#validationCustomEmail::placeholder {
	color: rgba(255, 255, 255, 0.2); /* Color blanco con opacidad */
}

#mensaje {
	border: 0;
	border-radius: 3%;
	background-color: #7888c6;
	resize: none;
}
#mensaje::placeholder {
	color: rgba(255, 255, 255, 0.2); /* Color blanco con opacidad */
}
